
# Ignore everything
/*

# But not these files...

!.gitignore

!.xinitrc
!.bashrc
!.bash_profile
!.Xresources


!.config/
.config/*
!.config/i3



# ...even if they are in subdirectories
#!*/

# if the files to be tracked are in subdirectories
#!*/a/b/file1.txt
#!*/a/b/c/*
